html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/** Button*/
Button {
  background-color: #3FA9F5;
  border: none;
  border-radius:2px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  }